.title
	Pay back bitch nedir?
.description
	%p
		Bu uygulama, sizin alacak ve borçlarınızı takip edebileceğiniz bir uygulamadır.
	%p
		Facebook veya twitter kullanıyorsan rahatça girer kullanırsın. Yok ben sosyal medya kullanmıyorum diyorsan bi zahmet üye olup e-mail validasyonu yapman gerekecek.
	%p
		Sakın yanlış anlama, sosyal medya kullanmıyor oluşuna takılmıyorum zükerberk amcamın oğlu değil çok doğal nedenlerden dolayı kullanmıyor olabilirsin. Kıskanç bir sevgili bu duruma neden olabilecek en doğal örnektir, heleki önceden kırdığın cevizler varsa ve kırıntılarını toplamayı unuttuysan.
	%p
		Seninde gördüğün gibi sitenin tasarımı çok sade. Alanında uzman UEX ci arkadaşlarımdan aldığım fikirler doğrultusunda UI cı arkadaşımdan böyle sade bir tasarım yapmasını istedim.
	%p
		Her neyse, navigasyon için sağ üst köşedeki linkleri kullanabilirsin. Kusura bakmada buraya o alışık olduğun "cart ile login ol", "curt ile sign in ol" gibi butonlardan koymuyorum.