= messages_for
.title
	Tekrar görüşmek üzere...
.description
	%p
		Tüm alacak verecek hesaplarının burada olduğunu unutma.
	%p
		Verdiğin borçları geri alamıyorsan tanıdığımız bir kaç kişi sana bu konuda yardımcı olabilir. Paranın bir kısmını onlara bırakmak zorunda kalırsın ama kesin çözüm üretirler.
		%br
		Tahsilatı nakit, eşya, tapu veya böbrek yolu ile yapabilirler.