#edit_contact_page
	= render :partial => "shared/sub_menu", :locals => {:menu_elements => @sub_menu_elements}
	.title
		Kişi Düzenle
	= render :partial => "form", :locals => {:object => @contact}
	.edit_contact_action_div
		%p
			Kişiye olan borcunu unutup rezil olmamak için 
			=link_to "borç kaydı oluştur", new_debt_accounting_records_path
		%p
			Milyonerde olsan hazıra dağ dayanmaz, dağıta dağıta inekler aç kalmış :)
			=link_to "alacak kaydı oluştur", new_credit_accounting_records_path